FORKFILE
{
  "StartAt": "Tabela",
  "TimeoutSeconds": 3600,
  "States": {
    "Tabela": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "MyLambdaFunction"
      },
      "ResultPath": "$.Lista",
      "Next": "Statartar o Histórico de Conversa"
    },
    "Statartar o Histórico de Conversa": {
      "Type": "Pass",
      "Result": "",
      "ResultPath": "$.HistorConversa",
      "Next": "Cond da repetição"
    },
    "Cond da repetição": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.Lista[0]",
            "StringEquals": "DONE"
          },
          "Next": "readnext Dynamo"
        }
      ],
      "Default": "Ok"
    },
    "readnext Dynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "<NOME_DA_TABELA_DYNAMODB>",
        "Key": {
          "MessageId": {
            "S.$": "$.Lista[0]"
          }
        }
      },
      "ResultPath": "$.DynamoDB",
      "Next": "Atualizar Conversa com Mensagem"
    },
    "Atualizar Conversa com Mensagem": {
      "Type": "Pass",
      "Parameters": {
        "HistorConversa.$": "States.Format('{}\n{}', $.HistorConversa, $.DynamoDB.Item.Message.S)"
      },
      "ResultPath": "$.HistorConversa",
      "Next": "Entravar Histórico de Conversa"
    },
    "Entravar Histórico de Conversa": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "TruncateHistoryFunction",
        "Payload": {
          "HistorConversa.$": "$.HistorConversa",
          "MaxLength": 2000
        }
      },
      "ResultSelector": {
        "HistorConversa.$": "$.Payload.HistorConversa"
      },
      "ResultPath": "$.HistorConversa",
      "Next": "Call Modelo"
    },
    "Call Modelo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "cohere.command-text-v14",
        "Body": {
          "prompt.$": "$.HistorConversa",
          "max_tokens": 250
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "ResultSelector": {
        "RespostaModelo.$": "$.Body.generations[0].text"
      },
      "ResultPath": "$.ResultadoModelo",
      "Next": "Atualizar Histórico de Conversa com Resposta"
    },
    "Atualizar Histórico de Conversa com Resposta": {
      "Type": "Pass",
      "Parameters": {
        "HistorConversa.$": "States.Format('{}\n{}', $.HistorConversa, $.ResultadoModelo.RespostaModelo)"
      },
      "ResultPath": "$.HistorConversa",
      "Next": "Entravar Histórico de Conversa Após Resposta"
    },
    "Entravar Histórico de Conversa Após Resposta": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "TruncateHistoryFunction",
        "Payload": {
          "HistorConversa.$": "$.HistorConversa",
          "MaxLength": 2000
        }
      },
      "ResultSelector": {
        "HistorConversa.$": "$.Payload.HistorConversa"
      },
      "ResultPath": "$.HistorConversa",
      "Next": "Remover Elemento"
    },
    "Remover Elemento": {
      "Type": "Pass",
      "Parameters": {
        "Lista.$": "$.Lista[1:]"
      },
      "Next": "Cond da repetição"
    },
    "Sucesso": {
      "Type": "Succeed"
    }
  }
}
